<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_i</key>
		<integer>-12</integer>
		<key>@MMK_R_n</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-47</integer>
		<key>@MMK_R_s</key>
		<integer>-47</integer>
		<key>@MMK_R_t</key>
		<integer>-35</integer>
		<key>@MMK_R_u</key>
		<integer>-47</integer>
		<key>@MMK_R_v</key>
		<integer>-47</integer>
		<key>@MMK_R_x</key>
		<integer>-47</integer>
		<key>@MMK_R_z</key>
		<integer>-47</integer>
	</dict>
	<key>@MMK_L_b-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_da-deva</key>
		<integer>20</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>20</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>-16</integer>
		<key>@MMK_R_ka-deva</key>
		<integer>20</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>30</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-34</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>-20</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_tth_ya-deva</key>
		<integer>10</integer>
		<key>@MMK_R_ttha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_zha-deva.loclNEP</key>
		<integer>25</integer>
	</dict>
	<key>@MMK_L_bh-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<integer>-75</integer>
		<key>@MMK_R_ca-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_kha-deva</key>
		<integer>-17</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>5</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>-80</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_c-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-31</integer>
		<key>@MMK_R_da-deva</key>
		<integer>10</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-42</integer>
		<key>@MMK_R_j_nya-deva</key>
		<integer>5</integer>
		<key>@MMK_R_ka-deva</key>
		<integer>5</integer>
		<key>@MMK_R_lla-deva</key>
		<integer>15</integer>
		<key>@MMK_R_na-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>5</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-42</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>-5</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>10</integer>
		<key>@MMK_R_tth_ya-deva</key>
		<integer>10</integer>
		<key>@MMK_R_ttha-deva</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_ch-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>10</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>10</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>35</integer>
		<key>@MMK_R_ga-deva</key>
		<integer>29</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_j_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>20</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>29</integer>
		<key>@MMK_R_na-deva</key>
		<integer>29</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ss_tta-deva</key>
		<integer>29</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>20</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
		<key>d_ma-deva</key>
		<integer>20</integer>
		<key>d_ya-deva</key>
		<integer>10</integer>
		<key>dd_dda-deva</key>
		<integer>10</integer>
		<key>dd_ddha-deva</key>
		<integer>10</integer>
		<key>ddh_ddha-deva</key>
		<integer>29</integer>
		<key>n_na-deva</key>
		<integer>10</integer>
		<key>n_ra-deva</key>
		<integer>10</integer>
		<key>ng_ga-deva</key>
		<integer>10</integer>
		<key>ng_gha-deva</key>
		<integer>10</integer>
		<key>ng_k_ssa-deva</key>
		<integer>10</integer>
		<key>ng_ka-deva</key>
		<integer>10</integer>
		<key>ng_kha-deva</key>
		<integer>10</integer>
		<key>ng_ma-deva</key>
		<integer>10</integer>
		<key>ny_ra-deva</key>
		<integer>29</integer>
		<key>p_ta-deva</key>
		<integer>5</integer>
		<key>sh_r_ca-deva</key>
		<integer>29</integer>
		<key>sh_r_la-deva</key>
		<integer>29</integer>
		<key>sh_r_na-deva</key>
		<integer>29</integer>
		<key>sh_r_va-deva</key>
		<integer>29</integer>
		<key>sh_ra-deva</key>
		<integer>29</integer>
	</dict>
	<key>@MMK_L_g_r-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-65</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>25</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_gh-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-51</integer>
		<key>@MMK_R_lla-deva</key>
		<integer>20</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_j-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>15</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>-5</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_jh-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-12</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>50</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>15</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>29</integer>
	</dict>
	<key>@MMK_L_k-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<integer>20</integer>
		<key>@MMK_R_ca-deva</key>
		<integer>29</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-31</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>-34</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>25</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_k_ss-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>29</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>20</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>-5</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_kh-deva</key>
	<dict>
		<key>@MMK_R_ba-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_bha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_da-deva</key>
		<integer>-5</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>10</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>-29</integer>
		<key>@MMK_R_na-deva</key>
		<integer>20</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ttha-deva</key>
		<integer>-10</integer>
		<key>g_na-deva</key>
		<integer>15</integer>
		<key>g_ra-deva</key>
		<integer>10</integer>
		<key>ta-deva</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_l-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>29</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>15</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>-23</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>35</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>20</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ll-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>29</integer>
		<key>@MMK_R_na-deva</key>
		<integer>29</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>10</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_m-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-50</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-5</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-70</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_n-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>5</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>29</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_kha-deva</key>
		<integer>13</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>13</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ny-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_ca-deva</key>
		<integer>29</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_da-deva</key>
		<integer>5</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>25</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ka-deva</key>
		<integer>20</integer>
		<key>@MMK_R_lla-deva</key>
		<integer>15</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>29</integer>
		<key>@MMK_R_na-deva</key>
		<integer>20</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_p-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>20</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>-48</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_s-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>30</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ss-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-36</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-17</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_na-deva</key>
		<integer>15</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>30</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-55</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>20</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-25</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_t-deva</key>
	<dict>
		<key>@MMK_R_ddha-deva</key>
		<integer>5</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_ga-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>29</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_kha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_ttha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_t_r-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>29</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>10</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>20</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_ga-deva</key>
		<integer>29</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_la-deva</key>
		<integer>20</integer>
		<key>@MMK_R_ma-deva</key>
		<integer>29</integer>
		<key>@MMK_R_na-deva</key>
		<integer>29</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_t_t-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>15</integer>
		<key>@MMK_R_ja-deva</key>
		<integer>29</integer>
		<key>@MMK_R_k_ssa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_kha-deva</key>
		<integer>20</integer>
		<key>@MMK_R_nya-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_ya-deva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_th-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<integer>-60</integer>
		<key>@MMK_R_ca-deva</key>
		<integer>30</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>40</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>30</integer>
		<key>@MMK_R_lla-deva</key>
		<integer>15</integer>
		<key>@MMK_R_na-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>30</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>20</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>20</integer>
		<key>@MMK_R_tha-deva</key>
		<integer>-52</integer>
	</dict>
	<key>@MMK_L_y-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_cha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_dda-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ddha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_dha-deva</key>
		<integer>-35</integer>
		<key>@MMK_R_gha-deva</key>
		<integer>-15</integer>
		<key>@MMK_R_ha-deva</key>
		<integer>-45</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>29</integer>
		<key>@MMK_R_lla-deva</key>
		<integer>10</integer>
		<key>@MMK_R_nna-deva</key>
		<integer>0</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>29</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>-10</integer>
		<key>@MMK_R_sha-deva.loclMAR</key>
		<integer>29</integer>
		<key>@MMK_R_ssa-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_t_ta-deva</key>
		<integer>-60</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-13</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-6</integer>
	</dict>
</dict>
</plist>
