<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_b-deva</key>
	<array>
		<string>b-deva</string>
		<string>v-deva</string>
	</array>
	<key>@MMK_L_bh-deva</key>
	<array>
		<string>bh-deva</string>
	</array>
	<key>@MMK_L_c-deva</key>
	<array>
		<string>c-deva</string>
	</array>
	<key>@MMK_L_ch-deva</key>
	<array>
		<string>ch-deva</string>
	</array>
	<key>@MMK_L_da-deva</key>
	<array>
		<string>da-deva</string>
	</array>
	<key>@MMK_L_dda-deva</key>
	<array>
		<string>dda-deva</string>
		<string>dddha-deva</string>
		<string>ddda-deva</string>
	</array>
	<key>@MMK_L_ddha-deva</key>
	<array>
		<string>ddha-deva</string>
		<string>rha-deva</string>
	</array>
	<key>@MMK_L_dh-deva</key>
	<array>
		<string>dh-deva</string>
	</array>
	<key>@MMK_L_g_r-deva</key>
	<array>
		<string>g_r-deva</string>
	</array>
	<key>@MMK_L_gh-deva</key>
	<array>
		<string>gh-deva</string>
		<string>gh_r-deva</string>
	</array>
	<key>@MMK_L_h-deva</key>
	<array>
		<string>h-deva</string>
	</array>
	<key>@MMK_L_ha-deva</key>
	<array>
		<string>ha-deva</string>
	</array>
	<key>@MMK_L_j-deva</key>
	<array>
		<string>j-deva</string>
		<string>j_j-deva</string>
	</array>
	<key>@MMK_L_j_ny-deva</key>
	<array>
		<string>j_ny-deva</string>
	</array>
	<key>@MMK_L_jh-deva</key>
	<array>
		<string>jh-deva</string>
	</array>
	<key>@MMK_L_k-deva</key>
	<array>
		<string>k-deva</string>
		<string>k_r-deva</string>
		<string>ph-deva</string>
		<string>jh-deva.loclNEP</string>
	</array>
	<key>@MMK_L_k_ss-deva</key>
	<array>
		<string>k_ss-deva</string>
	</array>
	<key>@MMK_L_ka-deva</key>
	<array>
		<string>ka-deva</string>
		<string>pha-deva</string>
		<string>qa-deva</string>
		<string>fa-deva</string>
		<string>ph_ra-deva</string>
		<string>f_ra-deva</string>
	</array>
	<key>@MMK_L_kh-deva</key>
	<array>
		<string>kh-deva</string>
		<string>kh_r-deva</string>
	</array>
	<key>@MMK_L_l-deva</key>
	<array>
		<string>l-deva</string>
	</array>
	<key>@MMK_L_ll-deva</key>
	<array>
		<string>ll-deva</string>
		<string>lll-deva</string>
	</array>
	<key>@MMK_L_m-deva</key>
	<array>
		<string>m-deva</string>
	</array>
	<key>@MMK_L_n-deva</key>
	<array>
		<string>n-deva</string>
		<string>nnn-deva</string>
	</array>
	<key>@MMK_L_nga-deva</key>
	<array>
		<string>nga-deva</string>
		<string>ng-deva</string>
		<string>ng_k-deva</string>
	</array>
	<key>@MMK_L_ny-deva</key>
	<array>
		<string>ny-deva</string>
	</array>
	<key>@MMK_L_p-deva</key>
	<array>
		<string>p-deva</string>
		<string>p_r-deva</string>
	</array>
	<key>@MMK_L_s-deva</key>
	<array>
		<string>s-deva</string>
	</array>
	<key>@MMK_L_ss-deva</key>
	<array>
		<string>ss-deva</string>
	</array>
	<key>@MMK_L_t-deva</key>
	<array>
		<string>t-deva</string>
	</array>
	<key>@MMK_L_t_r-deva</key>
	<array>
		<string>t_r-deva</string>
	</array>
	<key>@MMK_L_t_t-deva</key>
	<array>
		<string>t_t-deva</string>
	</array>
	<key>@MMK_L_th-deva</key>
	<array>
		<string>th-deva</string>
	</array>
	<key>@MMK_L_tta-deva</key>
	<array>
		<string>tt-deva</string>
	</array>
	<key>@MMK_L_y-deva</key>
	<array>
		<string>y-deva</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_ba-deva</key>
	<array>
		<string>ba-deva</string>
		<string>va-deva</string>
		<string>bba-deva</string>
		<string>b_ra-deva</string>
		<string>v_ra-deva</string>
		<string>b-deva</string>
		<string>v-deva</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>bha-deva</string>
		<string>jha-deva.loclNEP</string>
		<string>bh_ra-deva</string>
		<string>bh-deva</string>
		<string>jh-deva.loclNEP</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>ca-deva</string>
		<string>c_ca-deva</string>
		<string>c_ra-deva</string>
		<string>c-deva</string>
	</array>
	<key>@MMK_R_ch_va-deva</key>
	<array>
		<string>ch_va-deva</string>
	</array>
	<key>@MMK_R_cha-deva</key>
	<array>
		<string>cha-deva</string>
		<string>ch_ra-deva</string>
		<string>ch-deva</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>da-deva</string>
		<string>d_ba-deva</string>
		<string>d_va-deva</string>
		<string>d-deva</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>nga-deva</string>
		<string>dda-deva</string>
		<string>dddha-deva</string>
		<string>ddda-deva</string>
		<string>ng_ra-deva</string>
		<string>dd_ya-deva</string>
		<string>dd_ra-deva</string>
		<string>ng-deva</string>
		<string>dd-deva</string>
		<string>dd_r-deva</string>
	</array>
	<key>@MMK_R_ddha-deva</key>
	<array>
		<string>ddha-deva</string>
		<string>rha-deva</string>
		<string>ddh_ya-deva</string>
		<string>ddh_ra-deva</string>
		<string>ddh-deva</string>
		<string>ddh_r-deva</string>
	</array>
	<key>@MMK_R_dha-deva</key>
	<array>
		<string>dha-deva</string>
		<string>dh_ra-deva</string>
		<string>dh-deva</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>ga-deva</string>
		<string>ghha-deva</string>
		<string>gga-deva</string>
		<string>g-deva</string>
		<string>ghh-deva</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>gha-deva</string>
		<string>gh_ra-deva</string>
		<string>gh-deva</string>
		<string>gh_r-deva</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>ha-deva</string>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>h-deva</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>j</string>
	</array>
	<key>@MMK_R_j_nya-deva</key>
	<array>
		<string>ja_halant_nya_halant-deva</string>
		<string>j_nya-deva</string>
		<string>j_ny_ra-deva</string>
		<string>j_ny-deva</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>ja-deva</string>
		<string>za-deva</string>
		<string>zha-deva</string>
		<string>jja-deva</string>
		<string>j_ja-deva</string>
		<string>j_ra-deva</string>
		<string>j-deva</string>
		<string>j_j-deva</string>
		<string>z-deva</string>
	</array>
	<key>@MMK_R_jha-deva</key>
	<array>
		<string>jha-deva</string>
		<string>jh_ra-deva</string>
		<string>jh-deva</string>
	</array>
	<key>@MMK_R_k_ka-deva</key>
	<array>
		<string>k_ka-deva</string>
		<string>k_va-deva</string>
	</array>
	<key>@MMK_R_k_ssa-deva</key>
	<array>
		<string>k_ssa-deva</string>
		<string>k_ss_ra-deva</string>
		<string>k_ss-deva</string>
	</array>
	<key>@MMK_R_ka-deva</key>
	<array>
		<string>ka-deva</string>
		<string>qa-deva</string>
		<string>k_ra-deva</string>
		<string>k_la-deva</string>
		<string>k-deva</string>
		<string>k_r-deva</string>
		<string>q-deva</string>
	</array>
	<key>@MMK_R_kha-deva</key>
	<array>
		<string>kha-deva</string>
		<string>khha-deva</string>
		<string>kh_ra-deva</string>
		<string>kh-deva</string>
		<string>kh_r-deva</string>
		<string>khh-deva</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>la-deva</string>
		<string>la-deva.loclMAR</string>
		<string>l_ra-deva</string>
		<string>l_la-deva</string>
		<string>l-deva</string>
		<string>l-deva.loclMAR</string>
	</array>
	<key>@MMK_R_lla-deva</key>
	<array>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>ll_ra-deva</string>
		<string>ll-deva</string>
		<string>lll-deva</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>ma-deva</string>
		<string>m_ra-deva</string>
		<string>m-deva</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>@MMK_R_na-deva</key>
	<array>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>n-deva</string>
		<string>nnn-deva</string>
	</array>
	<key>@MMK_R_nna-deva</key>
	<array>
		<string>nna-deva</string>
		<string>nn_ra-deva</string>
		<string>nn-deva</string>
	</array>
	<key>@MMK_R_nya-deva</key>
	<array>
		<string>nya-deva</string>
		<string>ny-deva</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>g</string>
		<string>o</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>fa-deva</string>
		<string>p_ra-deva</string>
		<string>p_la-deva</string>
		<string>ph_ra-deva</string>
		<string>ph_la-deva</string>
		<string>f_ra-deva</string>
		<string>p-deva</string>
		<string>p_r-deva</string>
		<string>ph-deva</string>
		<string>f-deva</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>sa-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_ra-deva</string>
		<string>s-deva</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_sha-deva</key>
	<array>
		<string>sha-deva</string>
		<string>sh-deva</string>
	</array>
	<key>@MMK_R_sha-deva.loclMAR</key>
	<array>
		<string>sha-deva.loclMAR</string>
		<string>sh-deva.loclMAR</string>
	</array>
	<key>@MMK_R_ss_tta-deva</key>
	<array>
		<string>ss_tta-deva</string>
		<string>ss_tt_ra-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ra-deva</string>
	</array>
	<key>@MMK_R_ssa-deva</key>
	<array>
		<string>ssa-deva</string>
		<string>ss_ra-deva</string>
		<string>ss-deva</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_t_ta-deva</key>
	<array>
		<string>k_ta-deva</string>
		<string>t_ta-deva</string>
		<string>t_t-deva</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>t-deva</string>
	</array>
	<key>@MMK_R_tha-deva</key>
	<array>
		<string>tha-deva</string>
		<string>th_ra-deva</string>
		<string>th-deva</string>
	</array>
	<key>@MMK_R_tt_tta-deva</key>
	<array>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tth_ttha-deva</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>tta-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_ra-deva</string>
		<string>tt_va-deva</string>
		<string>tt-deva</string>
	</array>
	<key>@MMK_R_tth_ya-deva</key>
	<array>
		<string>tth_ya-deva</string>
	</array>
	<key>@MMK_R_ttha-deva</key>
	<array>
		<string>ttha-deva</string>
		<string>tth_ra-deva</string>
		<string>tth-deva</string>
		<string>tth_r-deva</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>ya-deva</string>
		<string>yya-deva</string>
		<string>y_ra-deva</string>
		<string>y-deva</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_zha-deva.loclNEP</key>
	<array>
		<string>zha-deva.loclNEP</string>
	</array>
</dict>
</plist>
