<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1046</integer>
	<key>capHeight</key>
	<integer>758</integer>
	<key>copyright</key>
	<string>Copyright © 2014 by Dan Reynolds. All rights reserved.</string>
	<key>descender</key>
	<integer>-500</integer>
	<key>familyName</key>
	<string>Martel</string>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License
Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2014/09/11 15:28:21</string>
	<key>openTypeNameDesigner</key>
	<string>Dan Reynolds</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.typeoff.de</string>
	<key>openTypeNameManufacturer</key>
	<string>Dan Reynolds</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.typeoff.de</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Martel</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>UltraLight</string>
	<key>openTypeOS2WeightClass</key>
	<integer>250</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>0</integer>
		<integer>20</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>113</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>135</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>vendorID</key>
	<string>toff</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>546</integer>
</dict>
</plist>
