<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>39185045-6A8C-415A-8312-7B8F11386A4C</key>
		<dict>
	</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>39185045-6A8C-415A-8312-7B8F11386A4C</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
	<key>public.glyphOrder</key>
	<array>
		<string>uni0904</string>
		<string>adeva</string>
		<string>aadeva</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>udeva</string>
		<string>uudeva</string>
		<string>rvocalicdeva</string>
		<string>lvocalicdeva</string>
		<string>ecandradeva</string>
		<string>eshortdeva</string>
		<string>edeva</string>
		<string>aideva</string>
		<string>ocandradeva</string>
		<string>oshortdeva</string>
		<string>odeva</string>
		<string>audeva</string>
		<string>rrvocalicdeva</string>
		<string>llvocalicdeva</string>
		<string>kadeva</string>
		<string>khadeva</string>
		<string>gadeva</string>
		<string>ghadeva</string>
		<string>ngadeva</string>
		<string>cadeva</string>
		<string>chadeva</string>
		<string>jadeva</string>
		<string>jhadeva</string>
		<string>nyadeva</string>
		<string>ttadeva</string>
		<string>tthadeva</string>
		<string>ddadeva</string>
		<string>ddhadeva</string>
		<string>nnadeva</string>
		<string>tadeva</string>
		<string>thadeva</string>
		<string>dadeva</string>
		<string>dhadeva</string>
		<string>nadeva</string>
		<string>nnnadeva</string>
		<string>padeva</string>
		<string>uni092B</string>
		<string>uni092C</string>
		<string>bhadeva</string>
		<string>madeva</string>
		<string>uni092F</string>
		<string>radeva</string>
		<string>rradeva</string>
		<string>uni0932</string>
		<string>lladeva</string>
		<string>llladeva</string>
		<string>vadeva</string>
		<string>shadeva</string>
		<string>ssadeva</string>
		<string>sadeva</string>
		<string>hadeva</string>
		<string>qadeva</string>
		<string>khhadeva</string>
		<string>ghhadeva</string>
		<string>zadeva</string>
		<string>dddhadeva</string>
		<string>rhadeva</string>
		<string>fadeva</string>
		<string>yyadeva</string>
		<string>uni097B</string>
		<string>uni097C</string>
		<string>uni097E</string>
		<string>uni097F</string>
		<string>uni0972</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>jhadeva.NEP</string>
		<string>uni0979.NEP</string>
		<string>uni0915094D_kadeva</string>
		<string>uni0915094D_tadeva</string>
		<string>uni0915094D_radeva</string>
		<string>uni0915094D0932</string>
		<string>uni0915094D_vadeva</string>
		<string>uni0915094D_ssadeva</string>
		<string>uni0915094D0937094D_radeva</string>
		<string>uni0916094D_radeva</string>
		<string>uni0917094D_nadeva</string>
		<string>uni0917094D_radeva</string>
		<string>uni0918094D_radeva</string>
		<string>uni0919094D_kadeva</string>
		<string>uni0919094D0915094D_ssadeva</string>
		<string>uni0919094D_khadeva</string>
		<string>uni0919094D_gadeva</string>
		<string>uni0919094D_ghadeva</string>
		<string>uni0919094D_madeva</string>
		<string>uni091A094D_cadeva</string>
		<string>uni091A094D_radeva</string>
		<string>uni091B094D_vadeva</string>
		<string>uni091C094D_jadeva</string>
		<string>uni091C094D_nyadeva</string>
		<string>uni091C094D_radeva</string>
		<string>uni091D094D_radeva</string>
		<string>uni091E094D_cadeva</string>
		<string>uni091E094D_jadeva</string>
		<string>uni091E094D_radeva</string>
		<string>uni091F094D_ttadeva</string>
		<string>uni091F094D_tthadeva</string>
		<string>uni091F094D092F</string>
		<string>uni091F094D_vadeva</string>
		<string>uni0920094D_tthadeva</string>
		<string>uni0920094D092F</string>
		<string>uni0921094D_ddadeva</string>
		<string>uni0921094D_ddhadeva</string>
		<string>uni0921094D092F</string>
		<string>uni0922094D_ddhadeva</string>
		<string>uni0922094D092F</string>
		<string>uni0923094D_radeva</string>
		<string>uni0924094D_tadeva</string>
		<string>uni0924094D_radeva</string>
		<string>uni0925094D_radeva</string>
		<string>uni0926094D_gadeva</string>
		<string>uni0926094D_ghadeva</string>
		<string>uni0926094D_dadeva</string>
		<string>uni0926094D_dhadeva</string>
		<string>uni0926094D0927094D0930094D092F</string>
		<string>uni0926094D_nadeva</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D_bhadeva</string>
		<string>uni0926094D_madeva</string>
		<string>uni0926094D092F</string>
		<string>uni0926094D_radeva</string>
		<string>uni0926094D_vadeva</string>
		<string>uni0927094D_radeva</string>
		<string>uni0928094D_nadeva</string>
		<string>uni0928094D_radeva</string>
		<string>uni092A094D_tadeva</string>
		<string>uni092A094D_radeva</string>
		<string>uni092A094D0932</string>
		<string>uni092B094D_radeva</string>
		<string>uni092B094D0932</string>
		<string>uni092C094D_radeva</string>
		<string>uni092D094D_radeva</string>
		<string>uni092E094D_radeva</string>
		<string>uni092F094D_radeva</string>
		<string>r_matra_u-deva</string>
		<string>r_matra_uu-deva</string>
		<string>uni0932094D_radeva</string>
		<string>uni0932094D0932</string>
		<string>uni0935094D_radeva</string>
		<string>uni0936094D_radeva</string>
		<string>uni0936094D0930094D_cadeva</string>
		<string>uni0936094D0930094D_nadeva</string>
		<string>uni0936094D0930094D0932</string>
		<string>uni0936094D0930094D_vadeva</string>
		<string>uni0937094D_ttadeva</string>
		<string>uni0937094D_tthadeva</string>
		<string>uni0937094D_radeva</string>
		<string>uni0938094D0924094D_radeva</string>
		<string>uni0938094D_radeva</string>
		<string>uni0939094D_nnadeva</string>
		<string>uni0939094D_nadeva</string>
		<string>uni0939094D_madeva</string>
		<string>uni0939094D092F</string>
		<string>uni0939094D_radeva</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D_vadeva</string>
		<string>uni095E094D_radeva</string>
		<string>uni093F_anusvaradeva</string>
		<string>uni093F0930094D</string>
		<string>uni093F0930094D_anusvaradeva</string>
		<string>uni0940_anusvaradeva</string>
		<string>uni09400930094D</string>
		<string>uni09400930094D_anusvaradeva</string>
		<string>ovowelsigndeva_anusvaradeva</string>
		<string>ovowelsigndeva_uni0930094D</string>
		<string>ovowelsigndeva_uni0930094D_anus</string>
		<string>uni094C_anusvaradeva</string>
		<string>uni094C0930094D</string>
		<string>uni094C0930094D_anusvaradeva</string>
		<string>uni0915094D_radeva.NEP</string>
		<string>uni0915094D</string>
		<string>uni0915094D0937094D</string>
		<string>uni0916094D</string>
		<string>uni0917094D</string>
		<string>uni0918094D</string>
		<string>uni0919094D</string>
		<string>uni0919094D0915094D</string>
		<string>uni091A094D</string>
		<string>uni091B094D</string>
		<string>uni091C094D</string>
		<string>uni091C094D091C094D</string>
		<string>uni091D094D</string>
		<string>uni091E094D</string>
		<string>uni091F094D</string>
		<string>uni0920094D</string>
		<string>uni0921094D</string>
		<string>uni0922094D</string>
		<string>uni0923094D</string>
		<string>uni0924094D</string>
		<string>uni0924094D0924094D</string>
		<string>uni0924094D0930094D</string>
		<string>uni0925094D</string>
		<string>uni0926094D</string>
		<string>uni0927094D</string>
		<string>uni0928094D</string>
		<string>uni0929094D</string>
		<string>uni092A094D</string>
		<string>uni092B094D</string>
		<string>uni092C094D</string>
		<string>uni092D094D</string>
		<string>uni092E094D</string>
		<string>uni092F094D</string>
		<string>uni0931094D</string>
		<string>uni0932094D</string>
		<string>uni0933094D</string>
		<string>uni0934094D</string>
		<string>uni0935094D</string>
		<string>uni0936094D</string>
		<string>uni0936094D0930094D</string>
		<string>uni0937094D</string>
		<string>uni0938094D</string>
		<string>uni0939094D</string>
		<string>uni0958094D</string>
		<string>uni0959094D</string>
		<string>uni095A094D</string>
		<string>uni095B094D</string>
		<string>uni095E094D</string>
		<string>uni093E</string>
		<string>uni093F</string>
		<string>uni0940</string>
		<string>ocandravowelsigndeva</string>
		<string>uni094A</string>
		<string>ovowelsigndeva</string>
		<string>uni094C</string>
		<string>uni091D094D.NEP</string>
		<string>fivedeva.NEP</string>
		<string>eightdeva.NEP</string>
		<string>zerodeva</string>
		<string>onedeva</string>
		<string>twodeva</string>
		<string>threedeva</string>
		<string>fourdeva</string>
		<string>fivedeva</string>
		<string>sixdeva</string>
		<string>sevendeva</string>
		<string>eightdeva</string>
		<string>ninedeva</string>
		<string>uni097D</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviationsigndeva</string>
		<string>uni0971</string>
		<string>space</string>
		<string>uni200D</string>
		<string>uni200C</string>
		<string>.notdef</string>
		<string>avagrahadeva</string>
		<string>omdeva</string>
		<string>uni20B9</string>
		<string>dottedcircle</string>
		<string>visargadeva</string>
		<string>candrabindudeva</string>
		<string>anusvaradeva</string>
		<string>uni0930094D</string>
		<string>uni0930094D_anusvaradeva</string>
		<string>uvowelsigndeva</string>
		<string>uuvowelsigndeva</string>
		<string>rvocalicvowelsigndeva</string>
		<string>rrvocalicvowelsigndeva</string>
		<string>ecandravowelsigndeva</string>
		<string>eshortvowelsigndeva</string>
		<string>evowelsigndeva</string>
		<string>evowelsigndeva_anusvaradeva</string>
		<string>evowelsigndeva_uni0930094D</string>
		<string>evowelsigndeva_uni0930094D_anus</string>
		<string>aivowelsigndeva</string>
		<string>aivowelsigndeva_anusvaradeva</string>
		<string>aivowelsigndeva_uni0930094D</string>
		<string>aivowelsigndeva_uni0930094D_anu</string>
		<string>viramadeva</string>
		<string>nuktadeva</string>
		<string>udattadeva</string>
		<string>anudattadeva</string>
		<string>gravedeva</string>
		<string>acutedeva</string>
		<string>lvocalicvowelsigndeva</string>
		<string>llvocalicvowelsigndeva</string>
		<string>rashtrasign_uMatra-deva</string>
		<string>rashtrasign_uuMatra-deva</string>
		<string>SignI_extended_1</string>
		<string>glyph172</string>
		<string>glyph206</string>
		<string>glyph207</string>
		<string>glyph229</string>
		<string>glyph230</string>
		<string>glyph231</string>
		<string>glyph232</string>
		<string>glyph236</string>
		<string>glyph237</string>
		<string>glyph238</string>
		<string>glyph239</string>
		<string>glyph242</string>
		<string>glyph243</string>
		<string>glyph244</string>
		<string>glyph245</string>
		<string>glyph247</string>
		<string>glyph263</string>
		<string>glyph324</string>
		<string>rashtrasign-deva</string>
		<string>uni093A</string>
		<string>uni093B</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>u091C_u094D_u091E.akhn</string>
		<string>u091C_u094D_u091E.akhn_u0930_u094D.blwf.</string>
		<string>u091C_u094D_u091E.akhn_u094D.half</string>
		<string>u0926_u0943.blws</string>
		<string>u0930_u094D.blwf</string>
		<string>u0939_u0943.blws</string>
	</array>
</dict>
</plist>
