<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_b-deva</key>
	<array>
		<string>uni092C094D</string>
		<string>uni0935094D</string>
	</array>
	<key>@MMK_L_bh-deva</key>
	<array>
		<string>uni092D094D</string>
	</array>
	<key>@MMK_L_c-deva</key>
	<array>
		<string>uni091A094D</string>
	</array>
	<key>@MMK_L_ch-deva</key>
	<array>
		<string>uni091B094D</string>
	</array>
	<key>@MMK_L_da-deva</key>
	<array>
		<string>dadeva</string>
	</array>
	<key>@MMK_L_dda-deva</key>
	<array>
		<string>ddadeva</string>
		<string>dddhadeva</string>
		<string>uni097E</string>
	</array>
	<key>@MMK_L_ddha-deva</key>
	<array>
		<string>ddhadeva</string>
		<string>rhadeva</string>
	</array>
	<key>@MMK_L_dh-deva</key>
	<array>
		<string>uni0927094D</string>
	</array>
	<key>@MMK_L_g_r-deva</key>
	<array>
		<string>uni0917094D0930094D</string>
	</array>
	<key>@MMK_L_gh-deva</key>
	<array>
		<string>uni0918094D</string>
		<string>uni0918094D0930094D</string>
	</array>
	<key>@MMK_L_h-deva</key>
	<array>
		<string>uni0939094D</string>
	</array>
	<key>@MMK_L_ha-deva</key>
	<array>
		<string>hadeva</string>
	</array>
	<key>@MMK_L_j-deva</key>
	<array>
		<string>uni091C094D</string>
		<string>uni091C094D091C094D</string>
	</array>
	<key>@MMK_L_j_ny-deva</key>
	<array>
		<string>uni091C094D091E094D</string>
	</array>
	<key>@MMK_L_jh-deva</key>
	<array>
		<string>uni091D094D</string>
	</array>
	<key>@MMK_L_k-deva</key>
	<array>
		<string>uni0915094D</string>
		<string>uni0915094D0930094D</string>
		<string>uni092B094D</string>
		<string>uni091D094D.loclNEP</string>
	</array>
	<key>@MMK_L_k_ss-deva</key>
	<array>
		<string>uni0915094D0937094D</string>
	</array>
	<key>@MMK_L_ka-deva</key>
	<array>
		<string>kadeva</string>
		<string>uni092B</string>
		<string>qadeva</string>
		<string>fadeva</string>
		<string>uni0915094D0915</string>
		<string>uni092B094D0930</string>
		<string>uni095E094D0930</string>
	</array>
	<key>@MMK_L_kh-deva</key>
	<array>
		<string>uni0916094D</string>
		<string>uni0916094D0930094D</string>
	</array>
	<key>@MMK_L_l-deva</key>
	<array>
		<string>uni0932094D</string>
	</array>
	<key>@MMK_L_ll-deva</key>
	<array>
		<string>uni0933094D</string>
		<string>uni0934094D</string>
	</array>
	<key>@MMK_L_m-deva</key>
	<array>
		<string>uni092E094D</string>
	</array>
	<key>@MMK_L_n-deva</key>
	<array>
		<string>uni0928094D</string>
		<string>uni0929094D</string>
	</array>
	<key>@MMK_L_nga-deva</key>
	<array>
		<string>ngadeva</string>
		<string>uni0919094D</string>
		<string>uni0919094D0915094D</string>
	</array>
	<key>@MMK_L_ny-deva</key>
	<array>
		<string>uni091E094D</string>
	</array>
	<key>@MMK_L_p-deva</key>
	<array>
		<string>uni092A094D</string>
		<string>uni092A094D0930094D</string>
	</array>
	<key>@MMK_L_s-deva</key>
	<array>
		<string>uni0938094D</string>
	</array>
	<key>@MMK_L_ss-deva</key>
	<array>
		<string>uni0937094D</string>
	</array>
	<key>@MMK_L_t-deva</key>
	<array>
		<string>uni0924094D</string>
	</array>
	<key>@MMK_L_t_r-deva</key>
	<array>
		<string>uni0924094D0930094D</string>
	</array>
	<key>@MMK_L_t_t-deva</key>
	<array>
		<string>uni0924094D0924094D</string>
	</array>
	<key>@MMK_L_th-deva</key>
	<array>
		<string>uni0925094D</string>
	</array>
	<key>@MMK_L_tta-deva</key>
	<array>
		<string>uni091F094D</string>
	</array>
	<key>@MMK_L_y-deva</key>
	<array>
		<string>uni092F094D</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_ba-deva</key>
	<array>
		<string>uni092C</string>
		<string>vadeva</string>
		<string>uni097F</string>
		<string>uni092C094D0930</string>
		<string>uni0935094D0930</string>
		<string>uni092C094D</string>
		<string>uni0935094D</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>bhadeva</string>
		<string>jhadeva.loclNEP</string>
		<string>uni092D094D0930</string>
		<string>uni092D094D</string>
		<string>uni091D094D.loclNEP</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>cadeva</string>
		<string>uni091A094D091A</string>
		<string>uni091A094D0930</string>
		<string>uni091A094D</string>
	</array>
	<key>@MMK_R_ch_va-deva</key>
	<array>
		<string>uni091B094D0935</string>
	</array>
	<key>@MMK_R_cha-deva</key>
	<array>
		<string>chadeva</string>
		<string>uni091B094D0930</string>
		<string>uni091B094D</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>dadeva</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D0935</string>
		<string>uni0926094D</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>ngadeva</string>
		<string>ddadeva</string>
		<string>dddhadeva</string>
		<string>uni097E</string>
		<string>uni0919094D0930</string>
		<string>uni0921094D092F</string>
		<string>uni0921094D0930</string>
		<string>uni0919094D</string>
		<string>uni0921094D</string>
		<string>uni0921094D0930094D</string>
	</array>
	<key>@MMK_R_ddha-deva</key>
	<array>
		<string>ddhadeva</string>
		<string>rhadeva</string>
		<string>uni0922094D092F</string>
		<string>uni0922094D0930</string>
		<string>uni0922094D</string>
		<string>uni0922094D0930094D</string>
	</array>
	<key>@MMK_R_dha-deva</key>
	<array>
		<string>dhadeva</string>
		<string>uni0927094D0930</string>
		<string>uni0927094D</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>gadeva</string>
		<string>ghhadeva</string>
		<string>uni097B</string>
		<string>uni0917094D</string>
		<string>uni095A094D</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>ghadeva</string>
		<string>uni0918094D0930</string>
		<string>uni0918094D</string>
		<string>uni0918094D0930094D</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>hadeva</string>
		<string>hadeva_uvowelsigndeva</string>
		<string>hadeva_uuvowelsigndeva</string>
		<string>uni0939094D0923</string>
		<string>uni0939094D0928</string>
		<string>uni0939094D0930</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D0935</string>
		<string>uni0939094D</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>j</string>
	</array>
	<key>@MMK_R_j_nya-deva</key>
	<array>
		<string>uni091C094D091E094D</string>
		<string>uni091C094D091E</string>
		<string>uni091C094D091E094D0930</string>
		<string>uni091C094D091E094D</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>jadeva</string>
		<string>zadeva</string>
		<string>uni0979</string>
		<string>uni097C</string>
		<string>uni091C094D091C</string>
		<string>uni091C094D0930</string>
		<string>uni091C094D</string>
		<string>uni091C094D091C094D</string>
		<string>uni095B094D</string>
	</array>
	<key>@MMK_R_jha-deva</key>
	<array>
		<string>jhadeva</string>
		<string>uni091D094D0930</string>
		<string>uni091D094D</string>
	</array>
	<key>@MMK_R_k_ssa-deva</key>
	<array>
		<string>uni0915094D0937</string>
		<string>uni0915094D0937094D0930</string>
		<string>uni0915094D0937094D</string>
	</array>
	<key>@MMK_R_ka-deva</key>
	<array>
		<string>kadeva</string>
		<string>qadeva</string>
		<string>uni0915094D0915</string>
		<string>uni0915094D0930</string>
		<string>uni0915094D0932</string>
		<string>uni0915094D0935</string>
		<string>uni0915094D</string>
		<string>uni0915094D0930094D</string>
		<string>uni0958094D</string>
	</array>
	<key>@MMK_R_kha-deva</key>
	<array>
		<string>khadeva</string>
		<string>khhadeva</string>
		<string>uni0916094D0930</string>
		<string>uni0916094D</string>
		<string>uni0916094D0930094D</string>
		<string>uni0959094D</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>uni0932</string>
		<string>uni0932.loclMAR</string>
		<string>uni0932094D0930</string>
		<string>uni0932094D0932</string>
		<string>uni0932094D</string>
		<string>uni0932094D.loclMAR</string>
	</array>
	<key>@MMK_R_lla-deva</key>
	<array>
		<string>lladeva</string>
		<string>llladeva</string>
		<string>uni0933094D0930</string>
		<string>uni0933094D</string>
		<string>uni0934094D</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>madeva</string>
		<string>uni092E094D0930</string>
		<string>uni092E094D</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>@MMK_R_na-deva</key>
	<array>
		<string>nadeva</string>
		<string>nnnadeva</string>
		<string>uni0928094D</string>
		<string>uni0929094D</string>
	</array>
	<key>@MMK_R_nna-deva</key>
	<array>
		<string>nnadeva</string>
		<string>uni0923094D0930</string>
		<string>uni0923094D</string>
	</array>
	<key>@MMK_R_nya-deva</key>
	<array>
		<string>nyadeva</string>
		<string>uni091E094D</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>g</string>
		<string>o</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>padeva</string>
		<string>uni092B</string>
		<string>fadeva</string>
		<string>uni092A094D0930</string>
		<string>uni092A094D0932</string>
		<string>uni092B094D0930</string>
		<string>uni092B094D0932</string>
		<string>uni095E094D0930</string>
		<string>uni092A094D</string>
		<string>uni092A094D0930094D</string>
		<string>uni092B094D</string>
		<string>uni095E094D</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>radeva</string>
		<string>rradeva</string>
		<string>sadeva</string>
		<string>radeva_uvowelsigndeva</string>
		<string>radeva_uuvowelsigndeva</string>
		<string>uni0938094D0924094D0930</string>
		<string>uni0938094D0930</string>
		<string>uni0938094D</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_sha-deva</key>
	<array>
		<string>shadeva</string>
		<string>uni0936094D</string>
	</array>
	<key>@MMK_R_sha-deva.loclMAR</key>
	<array>
		<string>shadeva.loclMAR</string>
		<string>uni0936094D.loclMAR</string>
	</array>
	<key>@MMK_R_ss_tta-deva</key>
	<array>
		<string>uni0937094D091F</string>
		<string>uni0937094D091F094D0930</string>
		<string>uni0937094D0920</string>
		<string>uni0937094D0920094D0930</string>
	</array>
	<key>@MMK_R_ssa-deva</key>
	<array>
		<string>ssadeva</string>
		<string>uni0937094D0930</string>
		<string>uni0937094D</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_t_ta-deva</key>
	<array>
		<string>uni0915094D0924</string>
		<string>uni0924094D0924</string>
		<string>uni0924094D0924094D</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>uni0924094D</string>
	</array>
	<key>@MMK_R_tha-deva</key>
	<array>
		<string>thadeva</string>
		<string>uni0925094D0930</string>
		<string>uni0925094D</string>
	</array>
	<key>@MMK_R_tt_tta-deva</key>
	<array>
		<string>uni091F094D091F</string>
		<string>uni091F094D0920</string>
		<string>uni0920094D0920</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>ttadeva</string>
		<string>uni091F094D092F</string>
		<string>uni091F094D0930</string>
		<string>uni091F094D0935</string>
		<string>uni091F094D</string>
	</array>
	<key>@MMK_R_tth_ya-deva</key>
	<array>
		<string>uni0920094D092F</string>
	</array>
	<key>@MMK_R_ttha-deva</key>
	<array>
		<string>tthadeva</string>
		<string>uni0920094D0930</string>
		<string>uni0920094D</string>
		<string>uni0920094D0930094D</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>uni092F</string>
		<string>yyadeva</string>
		<string>uni092F094D0930</string>
		<string>uni092F094D</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_zha-deva.loclNEP</key>
	<array>
		<string>uni0979.loclNEP</string>
	</array>
</dict>
</plist>
