<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_i</key>
		<integer>-12</integer>
		<key>@MMK_R_n</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-47</integer>
		<key>@MMK_R_s</key>
		<integer>-47</integer>
		<key>@MMK_R_t</key>
		<integer>-35</integer>
		<key>@MMK_R_u</key>
		<integer>-47</integer>
		<key>@MMK_R_v</key>
		<integer>-47</integer>
		<key>@MMK_R_x</key>
		<integer>-47</integer>
		<key>@MMK_R_z</key>
		<integer>-47</integer>
	</dict>
	<key>@MMK_L_bdeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_dadeva</key>
		<integer>20</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_kadeva</key>
		<integer>20</integer>
		<key>@MMK_R_madeva</key>
		<integer>30</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>13</integer>
		<key>@MMK_R_padeva</key>
		<integer>-40</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>-20</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_tth_yadeva</key>
		<integer>10</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>5</integer>
		<key>@MMK_R_zhadeva.loclNEP</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_bhdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-75</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_chadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_khadeva</key>
		<integer>-17</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_padeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>-30</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_cdeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_dadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_j_nyadeva</key>
		<integer>5</integer>
		<key>@MMK_R_kadeva</key>
		<integer>5</integer>
		<key>@MMK_R_lladeva</key>
		<integer>15</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_padeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>-10</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>10</integer>
		<key>@MMK_R_tth_yadeva</key>
		<integer>20</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_chdeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>25</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_gadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>30</integer>
		<key>@MMK_R_hadeva</key>
		<integer>10</integer>
		<key>@MMK_R_j_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_jadeva</key>
		<integer>20</integer>
		<key>@MMK_R_madeva</key>
		<integer>30</integer>
		<key>@MMK_R_nadeva</key>
		<integer>30</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>15</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>uni0919094D0915</key>
		<integer>20</integer>
		<key>uni0919094D0915094D0937</key>
		<integer>30</integer>
		<key>uni0919094D0916</key>
		<integer>20</integer>
		<key>uni0919094D0917</key>
		<integer>20</integer>
		<key>uni0919094D0918</key>
		<integer>30</integer>
		<key>uni0919094D092E</key>
		<integer>10</integer>
		<key>uni091C094D091E094D</key>
		<integer>30</integer>
		<key>uni091C094D091E094D0930</key>
		<integer>30</integer>
		<key>uni091D094D0930</key>
		<integer>30</integer>
		<key>uni091E094D0930</key>
		<integer>10</integer>
		<key>uni0921094D0921</key>
		<integer>10</integer>
		<key>uni0921094D0922</key>
		<integer>10</integer>
		<key>uni0922094D0922</key>
		<integer>10</integer>
		<key>uni0926094D092E</key>
		<integer>20</integer>
		<key>uni0926094D092F</key>
		<integer>30</integer>
		<key>uni0928094D0928</key>
		<integer>10</integer>
		<key>uni0928094D0930</key>
		<integer>10</integer>
		<key>uni092A094D0924</key>
		<integer>10</integer>
		<key>uni092A094D0932</key>
		<integer>30</integer>
		<key>uni0936094D0930</key>
		<integer>30</integer>
		<key>uni0936094D0930094D091A</key>
		<integer>20</integer>
		<key>uni0936094D0930094D0928</key>
		<integer>30</integer>
		<key>uni0936094D0930094D0932</key>
		<integer>30</integer>
		<key>uni0936094D0930094D0935</key>
		<integer>30</integer>
		<key>uni0937094D091F</key>
		<integer>30</integer>
		<key>uni0937094D091F094D0930</key>
		<integer>30</integer>
		<key>uni0937094D0920</key>
		<integer>30</integer>
		<key>uni0937094D0920094D0930</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_g_rdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-55</integer>
		<key>@MMK_R_dadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_lladeva</key>
		<integer>20</integer>
		<key>@MMK_R_nadeva</key>
		<integer>10</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>30</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_padeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>-10</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>-10</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>15</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ghdeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-55</integer>
		<key>@MMK_R_dadeva</key>
		<integer>15</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-70</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>25</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>15</integer>
		<key>@MMK_R_lladeva</key>
		<integer>20</integer>
		<key>@MMK_R_nadeva</key>
		<integer>10</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_padeva</key>
		<integer>-60</integer>
		<key>@MMK_R_radeva</key>
		<integer>-10</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_thadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>7</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_hdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_chadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-70</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_khadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_padeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>-15</integer>
		<key>@MMK_R_shadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_jdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_ch_vadeva</key>
		<integer>14</integer>
		<key>@MMK_R_chadeva</key>
		<integer>20</integer>
		<key>@MMK_R_dadeva</key>
		<integer>20</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_hadeva</key>
		<integer>30</integer>
		<key>@MMK_R_j_nyadeva</key>
		<integer>10</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>50</integer>
		<key>@MMK_R_kadeva</key>
		<integer>15</integer>
		<key>@MMK_R_khadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_radeva</key>
		<integer>-40</integer>
		<key>@MMK_R_shadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_tt_ttadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>10</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-10</integer>
		<key>uni0926094D0928</key>
		<integer>20</integer>
		<key>uni0926094D0930</key>
		<integer>20</integer>
		<key>uni092A094D0924</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_jhdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>30</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-55</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_padeva</key>
		<integer>-50</integer>
		<key>@MMK_R_radeva</key>
		<integer>-5</integer>
		<key>@MMK_R_shadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_k_ssdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>30</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_kadeva</key>
		<integer>5</integer>
		<key>@MMK_R_madeva</key>
		<integer>-30</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>15</integer>
		<key>@MMK_R_padeva</key>
		<integer>-20</integer>
		<key>@MMK_R_shadeva</key>
		<integer>30</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_kdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_cadeva</key>
		<integer>20</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_jadeva</key>
		<integer>18</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_madeva</key>
		<integer>-25</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-20</integer>
		<key>@MMK_R_shadeva</key>
		<integer>30</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>20</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ldeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>10</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-41</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_madeva</key>
		<integer>-25</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>20</integer>
		<key>@MMK_R_padeva</key>
		<integer>-25</integer>
		<key>@MMK_R_shadeva</key>
		<integer>30</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>20</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_lldeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>20</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_hadeva</key>
		<integer>30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_madeva</key>
		<integer>30</integer>
		<key>@MMK_R_nadeva</key>
		<integer>30</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>20</integer>
		<key>@MMK_R_padeva</key>
		<integer>-30</integer>
		<key>@MMK_R_shadeva</key>
		<integer>30</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>10</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_mdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_chadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-70</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_khadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-60</integer>
		<key>@MMK_R_radeva</key>
		<integer>-15</integer>
		<key>@MMK_R_shadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_ndeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_chadeva</key>
		<integer>20</integer>
		<key>@MMK_R_dadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>15</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_hadeva</key>
		<integer>30</integer>
		<key>@MMK_R_jadeva</key>
		<integer>30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>15</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_kadeva</key>
		<integer>30</integer>
		<key>@MMK_R_khadeva</key>
		<integer>30</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>20</integer>
		<key>@MMK_R_shadeva</key>
		<integer>30</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_nydeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>10</integer>
		<key>@MMK_R_cadeva</key>
		<integer>30</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_dadeva</key>
		<integer>5</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>-16</integer>
		<key>@MMK_R_kadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ladeva</key>
		<integer>30</integer>
		<key>@MMK_R_lladeva</key>
		<integer>10</integer>
		<key>@MMK_R_madeva</key>
		<integer>30</integer>
		<key>@MMK_R_nadeva</key>
		<integer>35</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_padeva</key>
		<integer>-35</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_pdeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>20</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-68</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>20</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-45</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_sdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-55</integer>
		<key>@MMK_R_chadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-24</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_kadeva</key>
		<integer>5</integer>
		<key>@MMK_R_madeva</key>
		<integer>-45</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-40</integer>
		<key>@MMK_R_shadeva</key>
		<integer>20</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_ssdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_chadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_kadeva</key>
		<integer>10</integer>
		<key>@MMK_R_madeva</key>
		<integer>-20</integer>
		<key>@MMK_R_nadeva</key>
		<integer>20</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-55</integer>
		<key>@MMK_R_radeva</key>
		<integer>-5</integer>
		<key>@MMK_R_shadeva</key>
		<integer>20</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>10</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_t_rdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>40</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>40</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_gadeva</key>
		<integer>20</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ladeva</key>
		<integer>20</integer>
		<key>@MMK_R_madeva</key>
		<integer>30</integer>
		<key>@MMK_R_nadeva</key>
		<integer>30</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-21</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>20</integer>
		<key>@MMK_R_padeva</key>
		<integer>-35</integer>
		<key>@MMK_R_shadeva</key>
		<integer>20</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_t_tdeva</key>
	<dict>
		<key>@MMK_R_hadeva</key>
		<integer>15</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>20</integer>
		<key>@MMK_R_shadeva</key>
		<integer>30</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_tdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-15</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_hadeva</key>
		<integer>20</integer>
		<key>@MMK_R_jadeva</key>
		<integer>30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_khadeva</key>
		<integer>30</integer>
		<key>@MMK_R_lladeva</key>
		<integer>-10</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>30</integer>
		<key>@MMK_R_shadeva</key>
		<integer>20</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>30</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>30</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_thdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_cadeva</key>
		<integer>30</integer>
		<key>@MMK_R_chadeva</key>
		<integer>30</integer>
		<key>@MMK_R_dadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>25</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>20</integer>
		<key>@MMK_R_lladeva</key>
		<integer>15</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>30</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_padeva</key>
		<integer>30</integer>
		<key>@MMK_R_radeva</key>
		<integer>-10</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>20</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>30</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>10</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_ydeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_chadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_dadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_kadeva</key>
		<integer>5</integer>
		<key>@MMK_R_lladeva</key>
		<integer>10</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>-25</integer>
		<key>@MMK_R_padeva</key>
		<integer>-70</integer>
		<key>@MMK_R_radeva</key>
		<integer>-10</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-35</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_thadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>10</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>20</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-13</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-6</integer>
	</dict>
	<key>uni0916094D</key>
	<dict>
		<key>@MMK_R_badeva</key>
		<integer>-10</integer>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_cadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dadeva</key>
		<integer>-5</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ddhadeva</key>
		<integer>10</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>30</integer>
		<key>@MMK_R_hadeva</key>
		<integer>5</integer>
		<key>@MMK_R_jadeva</key>
		<integer>20</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_k_ssadeva</key>
		<integer>5</integer>
		<key>@MMK_R_ladeva</key>
		<integer>10</integer>
		<key>@MMK_R_madeva</key>
		<integer>30</integer>
		<key>@MMK_R_nadeva</key>
		<integer>20</integer>
		<key>@MMK_R_nnadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-30</integer>
		<key>@MMK_R_radeva</key>
		<integer>10</integer>
		<key>@MMK_R_shadeva</key>
		<integer>10</integer>
		<key>@MMK_R_shadeva.loclMAR</key>
		<integer>30</integer>
		<key>@MMK_R_ssadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_t_tadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_tthadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_yadeva</key>
		<integer>10</integer>
		<key>tadeva</key>
		<integer>-10</integer>
		<key>uni0917094D0930</key>
		<integer>20</integer>
	</dict>
	<key>uni0924094D0924094D</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>30</integer>
		<key>@MMK_R_dhadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_gadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-45</integer>
		<key>@MMK_R_jadeva</key>
		<integer>30</integer>
		<key>@MMK_R_khadeva</key>
		<integer>20</integer>
		<key>@MMK_R_nyadeva</key>
		<integer>30</integer>
		<key>@MMK_R_thadeva</key>
		<integer>30</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>10</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-60</integer>
	</dict>
</dict>
</plist>
