<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>SignI_extended_1</key>
	<string>S_ignI__extended_1.glif</string>
	<key>aadeva</key>
	<string>aadeva.glif</string>
	<key>abbreviationsigndeva</key>
	<string>abbreviationsigndeva.glif</string>
	<key>acutedeva</key>
	<string>acutedeva.glif</string>
	<key>adeva</key>
	<string>adeva.glif</string>
	<key>aideva</key>
	<string>aideva.glif</string>
	<key>aivowelsigndeva</key>
	<string>aivowelsigndeva.glif</string>
	<key>aivowelsigndeva_anusvaradeva</key>
	<string>aivowelsigndeva_anusvaradeva.glif</string>
	<key>aivowelsigndeva_uni0930094D</key>
	<string>aivowelsigndeva_uni0930094D_.glif</string>
	<key>aivowelsigndeva_uni0930094D_anu</key>
	<string>aivowelsigndeva_uni0930094D__anu.glif</string>
	<key>anudattadeva</key>
	<string>anudattadeva.glif</string>
	<key>anusvaradeva</key>
	<string>anusvaradeva.glif</string>
	<key>audeva</key>
	<string>audeva.glif</string>
	<key>avagrahadeva</key>
	<string>avagrahadeva.glif</string>
	<key>bhadeva</key>
	<string>bhadeva.glif</string>
	<key>cadeva</key>
	<string>cadeva.glif</string>
	<key>candrabindudeva</key>
	<string>candrabindudeva.glif</string>
	<key>chadeva</key>
	<string>chadeva.glif</string>
	<key>dadeva</key>
	<string>dadeva.glif</string>
	<key>danda-deva</key>
	<string>danda-deva.glif</string>
	<key>dbldanda-deva</key>
	<string>dbldanda-deva.glif</string>
	<key>ddadeva</key>
	<string>ddadeva.glif</string>
	<key>dddhadeva</key>
	<string>dddhadeva.glif</string>
	<key>ddhadeva</key>
	<string>ddhadeva.glif</string>
	<key>dhadeva</key>
	<string>dhadeva.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>ecandradeva</key>
	<string>ecandradeva.glif</string>
	<key>ecandravowelsigndeva</key>
	<string>ecandravowelsigndeva.glif</string>
	<key>edeva</key>
	<string>edeva.glif</string>
	<key>eightdeva</key>
	<string>eightdeva.glif</string>
	<key>eightdeva.NEP</key>
	<string>eightdeva.N_E_P_.glif</string>
	<key>eshortdeva</key>
	<string>eshortdeva.glif</string>
	<key>eshortvowelsigndeva</key>
	<string>eshortvowelsigndeva.glif</string>
	<key>evowelsigndeva</key>
	<string>evowelsigndeva.glif</string>
	<key>evowelsigndeva_anusvaradeva</key>
	<string>evowelsigndeva_anusvaradeva.glif</string>
	<key>evowelsigndeva_uni0930094D</key>
	<string>evowelsigndeva_uni0930094D_.glif</string>
	<key>evowelsigndeva_uni0930094D_anus</key>
	<string>evowelsigndeva_uni0930094D__anus.glif</string>
	<key>fadeva</key>
	<string>fadeva.glif</string>
	<key>fivedeva</key>
	<string>fivedeva.glif</string>
	<key>fivedeva.NEP</key>
	<string>fivedeva.N_E_P_.glif</string>
	<key>fourdeva</key>
	<string>fourdeva.glif</string>
	<key>gadeva</key>
	<string>gadeva.glif</string>
	<key>ghadeva</key>
	<string>ghadeva.glif</string>
	<key>ghhadeva</key>
	<string>ghhadeva.glif</string>
	<key>glyph172</key>
	<string>glyph172.glif</string>
	<key>glyph206</key>
	<string>glyph206.glif</string>
	<key>glyph207</key>
	<string>glyph207.glif</string>
	<key>glyph229</key>
	<string>glyph229.glif</string>
	<key>glyph230</key>
	<string>glyph230.glif</string>
	<key>glyph231</key>
	<string>glyph231.glif</string>
	<key>glyph232</key>
	<string>glyph232.glif</string>
	<key>glyph236</key>
	<string>glyph236.glif</string>
	<key>glyph237</key>
	<string>glyph237.glif</string>
	<key>glyph238</key>
	<string>glyph238.glif</string>
	<key>glyph239</key>
	<string>glyph239.glif</string>
	<key>glyph242</key>
	<string>glyph242.glif</string>
	<key>glyph243</key>
	<string>glyph243.glif</string>
	<key>glyph244</key>
	<string>glyph244.glif</string>
	<key>glyph245</key>
	<string>glyph245.glif</string>
	<key>glyph247</key>
	<string>glyph247.glif</string>
	<key>glyph263</key>
	<string>glyph263.glif</string>
	<key>glyph324</key>
	<string>glyph324.glif</string>
	<key>gravedeva</key>
	<string>gravedeva.glif</string>
	<key>hadeva</key>
	<string>hadeva.glif</string>
	<key>ideva</key>
	<string>ideva.glif</string>
	<key>iideva</key>
	<string>iideva.glif</string>
	<key>jadeva</key>
	<string>jadeva.glif</string>
	<key>jhadeva</key>
	<string>jhadeva.glif</string>
	<key>jhadeva.NEP</key>
	<string>jhadeva.N_E_P_.glif</string>
	<key>kadeva</key>
	<string>kadeva.glif</string>
	<key>khadeva</key>
	<string>khadeva.glif</string>
	<key>khhadeva</key>
	<string>khhadeva.glif</string>
	<key>lladeva</key>
	<string>lladeva.glif</string>
	<key>llladeva</key>
	<string>llladeva.glif</string>
	<key>llvocalicdeva</key>
	<string>llvocalicdeva.glif</string>
	<key>llvocalicvowelsigndeva</key>
	<string>llvocalicvowelsigndeva.glif</string>
	<key>lvocalicdeva</key>
	<string>lvocalicdeva.glif</string>
	<key>lvocalicvowelsigndeva</key>
	<string>lvocalicvowelsigndeva.glif</string>
	<key>madeva</key>
	<string>madeva.glif</string>
	<key>nadeva</key>
	<string>nadeva.glif</string>
	<key>ngadeva</key>
	<string>ngadeva.glif</string>
	<key>ninedeva</key>
	<string>ninedeva.glif</string>
	<key>nnadeva</key>
	<string>nnadeva.glif</string>
	<key>nnnadeva</key>
	<string>nnnadeva.glif</string>
	<key>nuktadeva</key>
	<string>nuktadeva.glif</string>
	<key>nyadeva</key>
	<string>nyadeva.glif</string>
	<key>ocandradeva</key>
	<string>ocandradeva.glif</string>
	<key>ocandravowelsigndeva</key>
	<string>ocandravowelsigndeva.glif</string>
	<key>odeva</key>
	<string>odeva.glif</string>
	<key>omdeva</key>
	<string>omdeva.glif</string>
	<key>onedeva</key>
	<string>onedeva.glif</string>
	<key>oshortdeva</key>
	<string>oshortdeva.glif</string>
	<key>ovowelsigndeva</key>
	<string>ovowelsigndeva.glif</string>
	<key>ovowelsigndeva_anusvaradeva</key>
	<string>ovowelsigndeva_anusvaradeva.glif</string>
	<key>ovowelsigndeva_uni0930094D</key>
	<string>ovowelsigndeva_uni0930094D_.glif</string>
	<key>ovowelsigndeva_uni0930094D_anus</key>
	<string>ovowelsigndeva_uni0930094D__anus.glif</string>
	<key>padeva</key>
	<string>padeva.glif</string>
	<key>qadeva</key>
	<string>qadeva.glif</string>
	<key>r_matra_u-deva</key>
	<string>r_matra_u-deva.glif</string>
	<key>r_matra_uu-deva</key>
	<string>r_matra_uu-deva.glif</string>
	<key>radeva</key>
	<string>radeva.glif</string>
	<key>rashtrasign-deva</key>
	<string>rashtrasign-deva.glif</string>
	<key>rashtrasign_uMatra-deva</key>
	<string>rashtrasign_uM_atra-deva.glif</string>
	<key>rashtrasign_uuMatra-deva</key>
	<string>rashtrasign_uuM_atra-deva.glif</string>
	<key>rhadeva</key>
	<string>rhadeva.glif</string>
	<key>rradeva</key>
	<string>rradeva.glif</string>
	<key>rrvocalicdeva</key>
	<string>rrvocalicdeva.glif</string>
	<key>rrvocalicvowelsigndeva</key>
	<string>rrvocalicvowelsigndeva.glif</string>
	<key>rvocalicdeva</key>
	<string>rvocalicdeva.glif</string>
	<key>rvocalicvowelsigndeva</key>
	<string>rvocalicvowelsigndeva.glif</string>
	<key>sadeva</key>
	<string>sadeva.glif</string>
	<key>sevendeva</key>
	<string>sevendeva.glif</string>
	<key>shadeva</key>
	<string>shadeva.glif</string>
	<key>sixdeva</key>
	<string>sixdeva.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssadeva</key>
	<string>ssadeva.glif</string>
	<key>tadeva</key>
	<string>tadeva.glif</string>
	<key>thadeva</key>
	<string>thadeva.glif</string>
	<key>threedeva</key>
	<string>threedeva.glif</string>
	<key>ttadeva</key>
	<string>ttadeva.glif</string>
	<key>tthadeva</key>
	<string>tthadeva.glif</string>
	<key>twodeva</key>
	<string>twodeva.glif</string>
	<key>u091C_u094D_u091E.akhn</key>
	<string>u091C__u094D__u091E_.akhn.glif</string>
	<key>u091C_u094D_u091E.akhn_u0930_u094D.blwf.</key>
	<string>u091C__u094D__u091E_.akhn_u0930_u094D_.blwf..glif</string>
	<key>u091C_u094D_u091E.akhn_u094D.half</key>
	<string>u091C__u094D__u091E_.akhn_u094D_.half.glif</string>
	<key>u0926_u0943.blws</key>
	<string>u0926_u0943.blws.glif</string>
	<key>u0930_u094D.blwf</key>
	<string>u0930_u094D_.blwf.glif</string>
	<key>u0939_u0943.blws</key>
	<string>u0939_u0943.blws.glif</string>
	<key>udattadeva</key>
	<string>udattadeva.glif</string>
	<key>udeva</key>
	<string>udeva.glif</string>
	<key>uni0904</key>
	<string>uni0904.glif</string>
	<key>uni0915094D</key>
	<string>uni0915094D_.glif</string>
	<key>uni0915094D0932</key>
	<string>uni0915094D_0932.glif</string>
	<key>uni0915094D0937094D</key>
	<string>uni0915094D_0937094D_.glif</string>
	<key>uni0915094D0937094D_radeva</key>
	<string>uni0915094D_0937094D__radeva.glif</string>
	<key>uni0915094D_kadeva</key>
	<string>uni0915094D__kadeva.glif</string>
	<key>uni0915094D_radeva</key>
	<string>uni0915094D__radeva.glif</string>
	<key>uni0915094D_radeva.NEP</key>
	<string>uni0915094D__radeva.N_E_P_.glif</string>
	<key>uni0915094D_ssadeva</key>
	<string>uni0915094D__ssadeva.glif</string>
	<key>uni0915094D_tadeva</key>
	<string>uni0915094D__tadeva.glif</string>
	<key>uni0915094D_vadeva</key>
	<string>uni0915094D__vadeva.glif</string>
	<key>uni0916094D</key>
	<string>uni0916094D_.glif</string>
	<key>uni0916094D_radeva</key>
	<string>uni0916094D__radeva.glif</string>
	<key>uni0917094D</key>
	<string>uni0917094D_.glif</string>
	<key>uni0917094D_nadeva</key>
	<string>uni0917094D__nadeva.glif</string>
	<key>uni0917094D_radeva</key>
	<string>uni0917094D__radeva.glif</string>
	<key>uni0918094D</key>
	<string>uni0918094D_.glif</string>
	<key>uni0918094D_radeva</key>
	<string>uni0918094D__radeva.glif</string>
	<key>uni0919094D</key>
	<string>uni0919094D_.glif</string>
	<key>uni0919094D0915094D</key>
	<string>uni0919094D_0915094D_.glif</string>
	<key>uni0919094D0915094D_ssadeva</key>
	<string>uni0919094D_0915094D__ssadeva.glif</string>
	<key>uni0919094D_gadeva</key>
	<string>uni0919094D__gadeva.glif</string>
	<key>uni0919094D_ghadeva</key>
	<string>uni0919094D__ghadeva.glif</string>
	<key>uni0919094D_kadeva</key>
	<string>uni0919094D__kadeva.glif</string>
	<key>uni0919094D_khadeva</key>
	<string>uni0919094D__khadeva.glif</string>
	<key>uni0919094D_madeva</key>
	<string>uni0919094D__madeva.glif</string>
	<key>uni091A094D</key>
	<string>uni091A_094D_.glif</string>
	<key>uni091A094D_cadeva</key>
	<string>uni091A_094D__cadeva.glif</string>
	<key>uni091A094D_radeva</key>
	<string>uni091A_094D__radeva.glif</string>
	<key>uni091B094D</key>
	<string>uni091B_094D_.glif</string>
	<key>uni091B094D_vadeva</key>
	<string>uni091B_094D__vadeva.glif</string>
	<key>uni091C094D</key>
	<string>uni091C_094D_.glif</string>
	<key>uni091C094D091C094D</key>
	<string>uni091C_094D_091C_094D_.glif</string>
	<key>uni091C094D_jadeva</key>
	<string>uni091C_094D__jadeva.glif</string>
	<key>uni091C094D_nyadeva</key>
	<string>uni091C_094D__nyadeva.glif</string>
	<key>uni091C094D_radeva</key>
	<string>uni091C_094D__radeva.glif</string>
	<key>uni091D094D</key>
	<string>uni091D_094D_.glif</string>
	<key>uni091D094D.NEP</key>
	<string>uni091D_094D_.N_E_P_.glif</string>
	<key>uni091D094D_radeva</key>
	<string>uni091D_094D__radeva.glif</string>
	<key>uni091E094D</key>
	<string>uni091E_094D_.glif</string>
	<key>uni091E094D_cadeva</key>
	<string>uni091E_094D__cadeva.glif</string>
	<key>uni091E094D_jadeva</key>
	<string>uni091E_094D__jadeva.glif</string>
	<key>uni091E094D_radeva</key>
	<string>uni091E_094D__radeva.glif</string>
	<key>uni091F094D</key>
	<string>uni091F_094D_.glif</string>
	<key>uni091F094D092F</key>
	<string>uni091F_094D_092F_.glif</string>
	<key>uni091F094D_ttadeva</key>
	<string>uni091F_094D__ttadeva.glif</string>
	<key>uni091F094D_tthadeva</key>
	<string>uni091F_094D__tthadeva.glif</string>
	<key>uni091F094D_vadeva</key>
	<string>uni091F_094D__vadeva.glif</string>
	<key>uni0920094D</key>
	<string>uni0920094D_.glif</string>
	<key>uni0920094D092F</key>
	<string>uni0920094D_092F_.glif</string>
	<key>uni0920094D_tthadeva</key>
	<string>uni0920094D__tthadeva.glif</string>
	<key>uni0921094D</key>
	<string>uni0921094D_.glif</string>
	<key>uni0921094D092F</key>
	<string>uni0921094D_092F_.glif</string>
	<key>uni0921094D_ddadeva</key>
	<string>uni0921094D__ddadeva.glif</string>
	<key>uni0921094D_ddhadeva</key>
	<string>uni0921094D__ddhadeva.glif</string>
	<key>uni0922094D</key>
	<string>uni0922094D_.glif</string>
	<key>uni0922094D092F</key>
	<string>uni0922094D_092F_.glif</string>
	<key>uni0922094D_ddhadeva</key>
	<string>uni0922094D__ddhadeva.glif</string>
	<key>uni0923094D</key>
	<string>uni0923094D_.glif</string>
	<key>uni0923094D_radeva</key>
	<string>uni0923094D__radeva.glif</string>
	<key>uni0924094D</key>
	<string>uni0924094D_.glif</string>
	<key>uni0924094D0924094D</key>
	<string>uni0924094D_0924094D_.glif</string>
	<key>uni0924094D0930094D</key>
	<string>uni0924094D_0930094D_.glif</string>
	<key>uni0924094D_radeva</key>
	<string>uni0924094D__radeva.glif</string>
	<key>uni0924094D_tadeva</key>
	<string>uni0924094D__tadeva.glif</string>
	<key>uni0925094D</key>
	<string>uni0925094D_.glif</string>
	<key>uni0925094D_radeva</key>
	<string>uni0925094D__radeva.glif</string>
	<key>uni0926094D</key>
	<string>uni0926094D_.glif</string>
	<key>uni0926094D0927094D0930094D092F</key>
	<string>uni0926094D_0927094D_0930094D_092F_.glif</string>
	<key>uni0926094D092C</key>
	<string>uni0926094D_092C_.glif</string>
	<key>uni0926094D092F</key>
	<string>uni0926094D_092F_.glif</string>
	<key>uni0926094D_bhadeva</key>
	<string>uni0926094D__bhadeva.glif</string>
	<key>uni0926094D_dadeva</key>
	<string>uni0926094D__dadeva.glif</string>
	<key>uni0926094D_dhadeva</key>
	<string>uni0926094D__dhadeva.glif</string>
	<key>uni0926094D_gadeva</key>
	<string>uni0926094D__gadeva.glif</string>
	<key>uni0926094D_ghadeva</key>
	<string>uni0926094D__ghadeva.glif</string>
	<key>uni0926094D_madeva</key>
	<string>uni0926094D__madeva.glif</string>
	<key>uni0926094D_nadeva</key>
	<string>uni0926094D__nadeva.glif</string>
	<key>uni0926094D_radeva</key>
	<string>uni0926094D__radeva.glif</string>
	<key>uni0926094D_vadeva</key>
	<string>uni0926094D__vadeva.glif</string>
	<key>uni0927094D</key>
	<string>uni0927094D_.glif</string>
	<key>uni0927094D_radeva</key>
	<string>uni0927094D__radeva.glif</string>
	<key>uni0928094D</key>
	<string>uni0928094D_.glif</string>
	<key>uni0928094D_nadeva</key>
	<string>uni0928094D__nadeva.glif</string>
	<key>uni0928094D_radeva</key>
	<string>uni0928094D__radeva.glif</string>
	<key>uni0929094D</key>
	<string>uni0929094D_.glif</string>
	<key>uni092A094D</key>
	<string>uni092A_094D_.glif</string>
	<key>uni092A094D0932</key>
	<string>uni092A_094D_0932.glif</string>
	<key>uni092A094D_radeva</key>
	<string>uni092A_094D__radeva.glif</string>
	<key>uni092A094D_tadeva</key>
	<string>uni092A_094D__tadeva.glif</string>
	<key>uni092B</key>
	<string>uni092B_.glif</string>
	<key>uni092B094D</key>
	<string>uni092B_094D_.glif</string>
	<key>uni092B094D0932</key>
	<string>uni092B_094D_0932.glif</string>
	<key>uni092B094D_radeva</key>
	<string>uni092B_094D__radeva.glif</string>
	<key>uni092C</key>
	<string>uni092C_.glif</string>
	<key>uni092C094D</key>
	<string>uni092C_094D_.glif</string>
	<key>uni092C094D_radeva</key>
	<string>uni092C_094D__radeva.glif</string>
	<key>uni092D094D</key>
	<string>uni092D_094D_.glif</string>
	<key>uni092D094D_radeva</key>
	<string>uni092D_094D__radeva.glif</string>
	<key>uni092E094D</key>
	<string>uni092E_094D_.glif</string>
	<key>uni092E094D_radeva</key>
	<string>uni092E_094D__radeva.glif</string>
	<key>uni092F</key>
	<string>uni092F_.glif</string>
	<key>uni092F094D</key>
	<string>uni092F_094D_.glif</string>
	<key>uni092F094D_radeva</key>
	<string>uni092F_094D__radeva.glif</string>
	<key>uni0930094D</key>
	<string>uni0930094D_.glif</string>
	<key>uni0930094D_anusvaradeva</key>
	<string>uni0930094D__anusvaradeva.glif</string>
	<key>uni0931094D</key>
	<string>uni0931094D_.glif</string>
	<key>uni0932</key>
	<string>uni0932.glif</string>
	<key>uni0932094D</key>
	<string>uni0932094D_.glif</string>
	<key>uni0932094D0932</key>
	<string>uni0932094D_0932.glif</string>
	<key>uni0932094D_radeva</key>
	<string>uni0932094D__radeva.glif</string>
	<key>uni0933094D</key>
	<string>uni0933094D_.glif</string>
	<key>uni0934094D</key>
	<string>uni0934094D_.glif</string>
	<key>uni0935094D</key>
	<string>uni0935094D_.glif</string>
	<key>uni0935094D_radeva</key>
	<string>uni0935094D__radeva.glif</string>
	<key>uni0936094D</key>
	<string>uni0936094D_.glif</string>
	<key>uni0936094D0930094D</key>
	<string>uni0936094D_0930094D_.glif</string>
	<key>uni0936094D0930094D0932</key>
	<string>uni0936094D_0930094D_0932.glif</string>
	<key>uni0936094D0930094D_cadeva</key>
	<string>uni0936094D_0930094D__cadeva.glif</string>
	<key>uni0936094D0930094D_nadeva</key>
	<string>uni0936094D_0930094D__nadeva.glif</string>
	<key>uni0936094D0930094D_vadeva</key>
	<string>uni0936094D_0930094D__vadeva.glif</string>
	<key>uni0936094D_radeva</key>
	<string>uni0936094D__radeva.glif</string>
	<key>uni0937094D</key>
	<string>uni0937094D_.glif</string>
	<key>uni0937094D_radeva</key>
	<string>uni0937094D__radeva.glif</string>
	<key>uni0937094D_ttadeva</key>
	<string>uni0937094D__ttadeva.glif</string>
	<key>uni0937094D_tthadeva</key>
	<string>uni0937094D__tthadeva.glif</string>
	<key>uni0938094D</key>
	<string>uni0938094D_.glif</string>
	<key>uni0938094D0924094D_radeva</key>
	<string>uni0938094D_0924094D__radeva.glif</string>
	<key>uni0938094D_radeva</key>
	<string>uni0938094D__radeva.glif</string>
	<key>uni0939094D</key>
	<string>uni0939094D_.glif</string>
	<key>uni0939094D092F</key>
	<string>uni0939094D_092F_.glif</string>
	<key>uni0939094D0932</key>
	<string>uni0939094D_0932.glif</string>
	<key>uni0939094D_madeva</key>
	<string>uni0939094D__madeva.glif</string>
	<key>uni0939094D_nadeva</key>
	<string>uni0939094D__nadeva.glif</string>
	<key>uni0939094D_nnadeva</key>
	<string>uni0939094D__nnadeva.glif</string>
	<key>uni0939094D_radeva</key>
	<string>uni0939094D__radeva.glif</string>
	<key>uni0939094D_vadeva</key>
	<string>uni0939094D__vadeva.glif</string>
	<key>uni093A</key>
	<string>uni093A_.glif</string>
	<key>uni093B</key>
	<string>uni093B_.glif</string>
	<key>uni093E</key>
	<string>uni093E_.glif</string>
	<key>uni093F</key>
	<string>uni093F_.glif</string>
	<key>uni093F0930094D</key>
	<string>uni093F_0930094D_.glif</string>
	<key>uni093F0930094D_anusvaradeva</key>
	<string>uni093F_0930094D__anusvaradeva.glif</string>
	<key>uni093F_anusvaradeva</key>
	<string>uni093F__anusvaradeva.glif</string>
	<key>uni0940</key>
	<string>uni0940.glif</string>
	<key>uni09400930094D</key>
	<string>uni09400930094D_.glif</string>
	<key>uni09400930094D_anusvaradeva</key>
	<string>uni09400930094D__anusvaradeva.glif</string>
	<key>uni0940_anusvaradeva</key>
	<string>uni0940_anusvaradeva.glif</string>
	<key>uni094A</key>
	<string>uni094A_.glif</string>
	<key>uni094C</key>
	<string>uni094C_.glif</string>
	<key>uni094C0930094D</key>
	<string>uni094C_0930094D_.glif</string>
	<key>uni094C0930094D_anusvaradeva</key>
	<string>uni094C_0930094D__anusvaradeva.glif</string>
	<key>uni094C_anusvaradeva</key>
	<string>uni094C__anusvaradeva.glif</string>
	<key>uni0956</key>
	<string>uni0956.glif</string>
	<key>uni0957</key>
	<string>uni0957.glif</string>
	<key>uni0958094D</key>
	<string>uni0958094D_.glif</string>
	<key>uni0959094D</key>
	<string>uni0959094D_.glif</string>
	<key>uni095A094D</key>
	<string>uni095A_094D_.glif</string>
	<key>uni095B094D</key>
	<string>uni095B_094D_.glif</string>
	<key>uni095E094D</key>
	<string>uni095E_094D_.glif</string>
	<key>uni095E094D_radeva</key>
	<string>uni095E_094D__radeva.glif</string>
	<key>uni0971</key>
	<string>uni0971.glif</string>
	<key>uni0972</key>
	<string>uni0972.glif</string>
	<key>uni0973</key>
	<string>uni0973.glif</string>
	<key>uni0974</key>
	<string>uni0974.glif</string>
	<key>uni0976</key>
	<string>uni0976.glif</string>
	<key>uni0977</key>
	<string>uni0977.glif</string>
	<key>uni0979.NEP</key>
	<string>uni0979.N_E_P_.glif</string>
	<key>uni097B</key>
	<string>uni097B_.glif</string>
	<key>uni097C</key>
	<string>uni097C_.glif</string>
	<key>uni097D</key>
	<string>uni097D_.glif</string>
	<key>uni097E</key>
	<string>uni097E_.glif</string>
	<key>uni097F</key>
	<string>uni097F_.glif</string>
	<key>uni200C</key>
	<string>uni200C_.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>uni20B9</key>
	<string>uni20B_9.glif</string>
	<key>uudeva</key>
	<string>uudeva.glif</string>
	<key>uuvowelsigndeva</key>
	<string>uuvowelsigndeva.glif</string>
	<key>uvowelsigndeva</key>
	<string>uvowelsigndeva.glif</string>
	<key>vadeva</key>
	<string>vadeva.glif</string>
	<key>viramadeva</key>
	<string>viramadeva.glif</string>
	<key>visargadeva</key>
	<string>visargadeva.glif</string>
	<key>yyadeva</key>
	<string>yyadeva.glif</string>
	<key>zadeva</key>
	<string>zadeva.glif</string>
	<key>zerodeva</key>
	<string>zerodeva.glif</string>
</dict>
</plist>
